*{
    margin: 0 auto;
    padding: 0 auto; 
}

#page{
    width: 800px;
    height: 100px;
    background: #c1c1c1;
    padding: 20px;
}
h1{
   color: #35eac0; 
   font-size:32px ;
}

p{
    margin-top: 100px;
    margin-bottom: 100px;
    color: red;
}
span{
    color: yellow;
}

.box{
    width: 400px;
    float: left;
    display: inline;
    background-color: aqua;
    color: #ffffff;
    padding: 20px;
}