*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    background: url(img/lidia.png) top center ;
    grid-row: 1/4;
}
#page{
    width: 80px;
    height: 100px;
    background: #c1c1c1;
    padding: 20px;
    clear: both;
}

h1{
    color: #35eac0;
    font-size: 32px;

}
div > p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: blue;

}
span{
   color: yellow;
   font-style: italic;

}
p::first-line{
    color: #888;
    font-size: xx-large;
    background-color: ;

}
a{
    color: red;
    text-decoration: none;
}

.box{
    width: 400px;
    float : left;


}